{
    "host": "127.0.0.1",
    "port": 5347,
    "jid": "p2.yourserver.tld",
    "sharedSecret": "verysecure",
    "debug": false,
    "dbUrl": "jdbc:mariadb://localhost:3306/p2?characterEncoding=utf8",
    "dbUsername": "p2",
    "dbPassword": "secret",
    "fcm": {
        "authKey": "copyFromApiConsole"
    },
    "apns": {
        "certificate": "/etc/p2/apns_certificate.pem",
        "privateKey": "/etc/p2/apns_privatekey.pem",
        "bundleId": "com.example.xmpp",
        "sandbox": false
    }
}
